<o-form-layout-manager attr="Invoice" mode="tab" title="INVOICE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="InvoiceTable" 
            service="Invoice" 
            entity="Invoice" 
            title="INVOICE"
            keys="id"
            columns="id;project_id;invoice_date;invoice_amount;payment_total;invoice_balance;is_ready;task_count;completed_task_count;is_paid" 
            header-actions="R;D"
            visible-columns="id;project_id;invoice_date;invoice_amount;payment_total;invoice_balance;is_ready;task_count;completed_task_count;is_paid"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="project_id" title="project_id">
    <o-table-cell-renderer-service attr="project_id" 
        service="Project" entity="ProjectType" columns="id;name"
        parent-keys="id:project_id"
        value-column="name" keys="project_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #invoice_date attr="invoice_date" type="timestamp" label="invoice_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #invoice_amount attr="invoice_amount" title="invoice_amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #payment_total attr="payment_total" title="payment_total" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #invoice_balance attr="invoice_balance" title="invoice_balance" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column attr="is_ready" title="is_ready">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #task_count attr="task_count" title="task_count" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #completed_task_count attr="completed_task_count" title="completed_task_count" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="is_paid" title="is_paid">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>