<o-form-layout-manager attr="InvoiceItem" mode="tab" title="INVOICEITEM">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="InvoiceItemTable" 
            service="InvoiceItem" 
            entity="InvoiceItem" 
            title="INVOICEITEM"
            keys="id"
            columns="id;invoice_id;task_id;task_amount;is_completed" 
            header-actions="R;D"
            visible-columns="id;invoice_id;task_id;task_amount;is_completed"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="invoice_id" title="invoice_id">
    <o-table-cell-renderer-service attr="invoice_id" 
        service="Invoice" entity="InvoiceType" columns="id;id"
        parent-keys="id:invoice_id"
        value-column="id" keys="invoice_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="task_id" title="task_id">
    <o-table-cell-renderer-service attr="task_id" 
        service="Task" entity="TaskType" columns="id;name"
        parent-keys="id:task_id"
        value-column="name" keys="task_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #task_amount attr="task_amount" title="task_amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column attr="is_completed" title="is_completed">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>