<o-form-layout-manager attr="Person" mode="tab" title="PERSON">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PersonTable" 
            service="Person" 
            entity="Person" 
            title="PERSON"
            keys="id"
            columns="name;client_id;email;phone;billing_rate;id;total_hours_entered;total_amount_billed" 
            header-actions="R;D"
            visible-columns="name;client_id;email;phone;billing_rate;id;total_hours_entered;total_amount_billed"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="client_id" title="client_id">
    <o-table-cell-renderer-service attr="client_id" 
        service="Client" entity="ClientType" columns="id;name"
        parent-keys="id:client_id"
        value-column="name" keys="client_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #email attr="email" title="email" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #phone attr="phone" title="phone" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #billing_rate attr="billing_rate" title="billing_rate" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #total_hours_entered attr="total_hours_entered" title="total_hours_entered" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #total_amount_billed attr="total_amount_billed" title="total_amount_billed" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>