<o-form-layout-manager attr="Project" mode="tab" title="PROJECT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ProjectTable" 
            service="Project" 
            entity="Project" 
            title="PROJECT"
            keys="id"
            columns="name;client_id;total_project_hours;total_project_amount;project_budget_amount;is_over_budget;is_active;id" 
            header-actions="R;D"
            visible-columns="name;client_id;total_project_hours;total_project_amount;project_budget_amount;is_over_budget;is_active;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="client_id" title="client_id">
    <o-table-cell-renderer-service attr="client_id" 
        service="Client" entity="ClientType" columns="id;name"
        parent-keys="id:client_id"
        value-column="name" keys="client_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #total_project_hours attr="total_project_hours" title="total_project_hours" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #total_project_amount attr="total_project_amount" title="total_project_amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #project_budget_amount attr="project_budget_amount" title="project_budget_amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column attr="is_over_budget" title="is_over_budget">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column attr="is_active" title="is_active">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>